

/******************************************************************
 * GENERAL
 ******************************************************************/

body                { margin-top: 20px; height: calc(100% - 20px) !important;}
.panel              { padding: 0; margin: 0; background: #fff !important;}
.max-row            { width: 100%; max-width: 100%; padding: 0; margin: 0; }
.no-margin          { padding: 0 !important; margin: 0 !important; }
.aright             { text-align: right; }
.center             { text-align: center; }
.relative           { position: relative; width: auto; height: auto;}
#splashscreen       { background: #fff !important; font-size: 17px !important; position: relative; }
.splashAlign        { width: 400px; height: 200px; position: absolute; top: 50%; margin-top: -140px; left: 50%; margin-left: -200px; text-align: center; color: #000 !important; }
.splashAlign img    { width: 50%; height: auto;}
.splashLogo         { width: 300px !important; height: auto !important; }
.pages              { background: #fff !important; font-family: 'ProximaNovaRegular'; }

.error              { float: left; width: 100%; height: auto; color: #fff; padding-left: 10px; border-top: none; margin-top: -11px; font-size: small; background: red;}

.blanco                     { color: #fff !important;}
.btnAzul                    { color: #26b4ff;}
.btnAzulBig                 { width: 100%; height: 60px;background: #26b4ff; color: #fff; font-family: 'ProximaNovaBold'; text-align: center; line-height: 50px;}
.btnNaranja                 { width: 100%; height: 60px;background: #ffa93a; color: #fff; font-family: 'ProximaNovaBold'; text-align: center; line-height: 50px;}
.btnVerde                   { width: 100%; height: 60px;background: #7ad64d; color: #fff; font-family: 'ProximaNovaBold'; text-align: center; line-height: 50px;}

.full-width                 { width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; padding-left: 0 !important; padding-right: 0 !important; }
.full-width .columns        { margin-left: 0 !important; margin-right: 0 !important; padding-left: 0 !important; padding-right: 0 !important; }
.textfield                  { border: none !important; border-bottom: 1px solid #ccc !important; color: #000 !important; }

/******************************************************************
 * HEADER
 ******************************************************************/
header                      { background: #fff !important;}
.hdTit                      { color: #000; font-family: 'ProximaNovaRegular' !important; line-height: 48px !important; height: 40px; position: absolute; top: 0; width: 76%; left: 50%; margin-left: -38%; font-size: 15px; text-align: center;}
header .backButton          { display: none !important; }

.hdUpgrade                  { position: absolute; top: 8px; left: 5%;  width: 20px; height: 16px; text-align: center; display: none;}
.btnNaranjaCircle           { background: #ffa820; color: #fff; border-radius: 20px; width: 90px; height: 25px; font-size: 15px; line-height: 23px;}

.hdFlecha                   { position: absolute; top: 8px; left: 5%;  width: 20px; height: 16px; text-align: center; }
.hdFlecha img               { width: auto; height: 20px;}
.hdIcono                    { position: absolute; top: 8px; right: 5%; width: 20px; height: 16px; text-align: center; }
.hdNext                     { position: absolute; top: 10px; right: 5%; width: auto; height: auto; font-size: 15px;}
.hdEdit                     { position: absolute; top: 10px; right: 5%; width: auto; height: auto; font-size: 15px; color: #fff; display: none;}

.header                     { display: none; background: #26b4ff; width: 100%; height: 80px;}

/******************************************************************
 * FOOTER
 ******************************************************************/
footer                      { padding: 0 !important;}
.btnRegistro                { width: 100%; height: 60px; background: #ececec; color: #828282; font-family: 'ProximaNovaBold'; text-align: center; line-height: 50px;}
.btnRegistro.selected       { background: #26b4ff; color: #fff;}

.footer-recomendaciones     { background: #fff;}
.footer-recomendaciones ul  { width: 100%; height: 100%; position: relative; background: #fff;}
.footer-recomendaciones li  { width: 20%; float: left; text-align: center; height: 100%;}
.footer-recomendaciones
    li img                  { width: auto; height: 49px;}
.ftFollow                   { width: 85px; margin: auto; height: 30px;}
.ftComunidad                { width: 200px; margin: auto; height: 30px;}
.ftComunidad img,
.ftFollow img               { float: left; width: auto; height: 15px; margin-top: 16px; margin-right: 10px; }
.ftComunidad span,
.ftFollow span              { float: left; width: auto; height: auto;}

/******************************************************************
 * HOME
 ******************************************************************/
#home                       {}
.homeTit                    { font-size: 26px; font-family: 'ProximaNovaSemibold'; margin: 20px 0;}
.homeTxt                    { color: #a3a3a3; }
.carruselRow                { margin-bottom: 50px;}
.owl-controls               { position: absolute; top: 100%; width: 100%; left: 0;}
.owl-controls
    .owl-page span          { background: #d4f0ff !important; opacity: 1;}
.owl-controls
    .owl-page.active span   { background: #26b4ff !important;}

/******************************************************************
 * REGISTRO
 ******************************************************************/
 .regO                      { color: #ddd; font-size: 25px; text-align: center; height: 40px; margin: 10px 0; text-align: center;}
 .regO  .txt                { float: left; width: 20%; height: 40px;}
 .regO  hr                  { border: none; background: #ddd; width: 40%; height: 1px; border: none; float: left; margin-top: 17px;}
 .regRedes                  { margin-bottom: 30px;}
 .regRedes img              { width: auto; height: 25px; }
 .regFB                     { background: #3e6fb7; text-align: center; height: 40px; line-height: 38px;}
 .regTW                     { background: #53c5f5; text-align: center; height: 40px; line-height: 38px;}

/******************************************************************
 * GENEROS
 ******************************************************************/
#generos                    { padding-top: 30px;}
.canalesReinicio,
.generoReinicio             { position: absolute; top: 10px; left: 10px; width: auto; height: auto; display: none;}
.generos                    { height: 300px;}
.btnGenero                  { width: auto; min-height: 50px; height: auto; font-size: 15px; background: #7ad64d; color: #fff; border-radius: 100px; text-align: center; padding: 0 10px; position: absolute; left: 0; top: 0; -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.btnGenero.tam1             { width: 80px; height: 90px; line-height: 90px; }
.btnGenero.tam2             { width: 70px; height: 70px; line-height: 70px; }
.btnGenero.tam3             { width: 60px; height: 50px; line-height: 50px; }
.grid                       { min-height: 400px; position: relative;}
.grid:after                 { content: ''; display: block; clear: both; }
.grid-sizer                 { width: 33%;}

#container                  { margin-top: 0px; display: none; height: 100%; overflow: auto; position: relative;}
.bubbles                    { float: left; width: auto; height: 100%; position: relative;}
.bubble                     { border-radius:100px; text-align: center; color: #fff; font-size: 85%; height: 90px; width: 90px; margin: 5px; display: table;
                                        /*position: absolute; top: 50%; */ 
                                        transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
                                        transition-property: left, right, top; }
.bubble span                { display: table-cell; vertical-align: middle;}
.bubble.verde               { background: #7ad64d; width: 100px; height: 100px; margin: 0; line-height: 100px; margin-top: -55px !important; margin-left: -55px !important; }
.bubble.azul                { background: #26b4ff;}

/******************************************************************
 * LOCALIDAD
 ******************************************************************/
#localidad                  { padding-top: 30px;}
#localidad .titulo          { margin-bottom: 30px;}
#region                     { font-size: 14px !important;}
.region                     { width: 100%; float: left; border-bottom: 1px solid #eae9e9; position: relative; height: 40px; line-height: 30px; margin: 5px;}
.region .label              { float: left; width: 70%; }
.region .paloma             { float: left; width: 30%; height: auto; text-align: center; display: none;}
.region .paloma img         { width: auto; height: 15px;}

/******************************************************************
 * CANALES
 ******************************************************************/
#canales                    { padding-top: 30px;}
#canales .titulo            { margin-bottom: 30px;}
#canales                    { padding-top: 30px;}
#canales .subtitulo         { margin-bottom: 10px; color: #dddddd;}
#canales hr                 { margin-bottom: 10px;}
.canal                      { width: 25%; float: left; padding: 10px; min-height: 20px; height: auto; position: relative; margin-bottom: 10px; font-size: 12px; background: #fff; border-radius: 50px;}
.canal .foto                { text-align: center; margin: auto; height: 50px; margin-bottom: 5px; width: 100%;}
.canal.selected .nombre     { color: #0088d1; text-decoration: underline;}
.canal .foto img            { width: auto; height: 50px;}
.canal .nombre              { text-align: center; float: left; color: #585858; width: 100%;}

/******************************************************************
 * RECOMENDACIONES
 ******************************************************************/
.recHeader                  { background: #26b4ff; width: 100%; height: 80px; float: left; width: 100%; height: 50px; padding-top: 10px;}
.btnRecomendaciones         { width: 210px; height: 30px; margin: auto;}
.btnRec                     { border: 1px solid #fff; color: #fff; width: 70px; height:  30px; line-height: 30px; text-align: center; float: left;}
.btnRec.selected            { background: #fff; color: #26b4ff;}
.btnRec:first-child         { border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.btnRec:last-child          { border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.recHorario                 { color: #a3a3a3; text-align: right; padding-right: 10px;}

.recPrograma                { float: left; width: 100%; min-height: 100px; height: auto; position: relative; color: #fff; margin-bottom: 10px; text-shadow: 2px 2px 2px #000; font-family: 'ProximaNovaRegular';}
.recPrograma .fondo         { position: absolute; top: 0; left: 0; width: 100%; height: 107px;}
.recPrograma .fondo img     { width: 100%; height: 100%;}
.recPrograma .genero        { font-family: 'ProximaNovaSemibold'; position: absolute; top: 10px; left: 10px; width: auto; height: auto; z-index: 9;}
.recPrograma .nombre        { float: left; position: relative; margin-top: 70px; margin-left: 10px; width: 75%; height: auto; font-size: 100%; z-index: 9;}
.recPrograma .horario       { float: left; position: relative; margin-top: 80px; margin-left: 10px; width: calc( 25% - 20px); height: auto; font-size: 15px; z-index: 9; text-align: right; padding-right: 10px;}
.recPrograma .canal         { position: absolute; top: 10px; right: 10px; width: auto; height: auto; z-index: 9;}
.recPrograma .canal img     { width: 20px; height: 20px;}

/******************************************************************
 * PROGRAMA
 ******************************************************************/
.progDetalle                { float: left; width: 100%; min-height: 200px; height: auto; position: relative; color: #fff; margin-bottom: 10px; text-shadow: 2px 2px 2px #000;}
.progDetalle .fondo         { position: absolute; top: 0; left: 0; width: 100%; height: 200px;}
.progDetalle .fondo img     { width: 100%; height: 100%;}
.progDetalle .genero        { font-family: 'ProximaNovaSemibold'; position: absolute; top: 10px; left: 10px; width: 50%; height: auto; z-index: 9;}
.progDetalle .nombre        { float: left; position: relative; margin-top: 120px; margin-left: 10px; width: 65%; height: auto; font-size: 25px; z-index: 9;}
.progDetalle .horario       { font-family: 'ProximaNovaSemibold'; position: absolute; top: 10px; right:  10px; width: 50%; height: auto; font-size: 16px; z-index: 9; text-align: right; }
.progDetalle .canal         { position: absolute; top: 10px; right: 10px; width: auto; height: auto; z-index: 9;}
.progDetalle .canal img     { width: 20px; height: 20px;}
.progDetalle .rating        { float: left; position: relative; margin-top: 120px; margin-left: 10px; width: calc( 35% - 20px); height: auto; font-size: 20px; z-index: 9; text-align: right; padding-right: 10px;}
.progDetalle .rating span   { font-size: 15px; float: left; width: 100%;}

#programaDetalle hr         { background: #eaeaea; border: none; width: 80%; float: left; margin: 10px 10%; height: 2px;}
.progDesc                   { color: #a3a3a3; font-size: 18px; height: 105px; overflow: hidden;}
.progVerMas                 { margin: 10px 0; font-size: 18px;}
.progCalificar              { color: #ddd; font-family: 'ProximaNovaSemibold'; font-size: 20px; }
.progEstrellas              { margin: auto; width: 210px; height: 30px; margin-top: 10px; margin-bottom: 10px;}
.progEstrellas .estrella    { float: left; width: auto; height: auto; text-align: center; margin-right: 10px;}
.progEstrellas .estrella img{ width: auto; height: 30px; }

.progOpciones               { width: 100%; height: 30px; margin-bottom: 10px; color: #000;}
.progOpciones .icono        { float: left; width: auto; height: auto; margin-right: 10px; line-height: 38px;}
.progOpciones .icono img    { height: 20px; width: auto;}
.progOpciones .texto        { line-height: 38px; width: calc(100% - 50px); float: left;}
.progOpciones .texto span   { font-family: 'ProximaNovaBold';}
.progOpciones .flecha       { float: left; width: auto; height: auto; line-height: 38px;}
.progOpciones .flecha img   { height: 10px; width: auto;}

#programaComunidad hr       { background: #eaeaea; border: none; width: 92%; float: left; margin: 10px 4%; height: 1px;}
.progTitulo                 { color: #ddd; font-size: 18px; margin-bottom: 10px;}
.progCapitulo               { color: #585858;}
.progCapitulo span          { font-family: 'ProximaNovaBold';}
.progTemp                   { margin-bottom: 10px;}
.progTemp .titulo           { color: #ddd; font-size: 18px;}
.progTemp .temporada        { float: left; width: 15%; height: 40px; text-align: center; margin-right: 2%; }
.progTemp .temporada img    { width: 90%; height: auto; max-height: 40px;}
.progTemp .nombre           { float: left; width: 75%; height: auto; margin-right: 2%; color: #585858; height: 40px; line-height: 40px;}
.progTemp .flecha           { float: left; width: auto; height: auto; line-height: 38px;}
.progTemp .flecha img       { height: 10px; width: auto;}
.progEstrellasComunidad     { width: 180px; height: 20px; float: left;}
.progEstrellasComunidad
    .estrella               { float: left; width: auto; height: auto; text-align: center; margin-right: 10px;}
.progEstrellasComunidad
    .estrella img           { width: auto; height: 20px; }
.progComentar               { float: left; width: 100px; height: auto; font-family: 'ProximaNovaRegular'; font-size: 15px;} 
.progComentar .globo        { float: left; width: auto; height: auto; margin-right: 10px; margin-top: 5px;}
.progComentar .globo img    { width: auto; height: 20px;}
.progComentar span          { float: left; width: auto; height: 20px; line-height: 34px;}

/******************************************************************
 * NOW
 ******************************************************************/
.nowRow                     { margin: 10px 0;}
#now .titulo                { float: left; color: #ddd; width: 70%; height: auto;}
#now .btnAzul               { float: left; width: 30%; text-align: right;}

/******************************************************************
 * PROFILE
 ******************************************************************/
#profile                    { }
.profDatos                  { background: #26b4ff; height: 230px; padding-top: 20px;}
.profDatos .foto            { width: 150px; height: 150px; border: 5px solid #fff; border-radius: 100px; margin: auto; background: url(../images/tmp/user.png) no-repeat; background-size: contain; overflow: hidden; text-align: center;}
.profDatos .foto img        { width: auto; height: 150px; }
.profDatos .nombre          { color: #fff; width: 100%; float: left; text-align: center; height: 40px; line-height: 40px; font-size: 20px; margin-top: 10px;}

.prodOpciones               { float: left; width: 100%; height: 40px; position: relative; border-bottom: #e5e5e5 1px solid;}
.prodOpciones .icono        { float: left; width: 50px; height: 40px; margin-right: 10px; line-height: 37px; text-align: center;}
.prodOpciones .icono img    { height: 15px; width: auto;}
.prodOpciones .nombre       { float: left; width: 75%; height: 40px; line-height: 40px; color: #585858; padding-left: 10px; }
.prodOpciones .flecha       { float: left; width: auto; height: auto; line-height: 40px; }
.prodOpciones .flecha img   { height: 10px; width: auto;}

.fotoSelect                 { position: absolute; width: 50%; height: 400px; top: 20px; left: 50%; background: url(../images/profile/globo.png) no-repeat; background-size: 100% auto; padding-top: 18px; display: none;}
.fotoSelect .btnAzul        { width: 73%; height: auto; text-align: center; float: left; margin-left: 16%; margin-bottom: 10px; text-decoration: underline;}

/******************************************************************
 * PREMIUM
 ******************************************************************/
#premium .titulo            { margin: 30px 0; font-family: 'ProximaNovaBold'; color: #575757; font-size: 20px;}
#premium hr                 { background: #eae9e9 !important; width: 80%; margin-left: 10%; border: none !important; height: 1px; }
#premium .subtitulo         { color: #575656; font-size: 15px; height: auto; float: left; width: 70%; margin-top: 20px;}
.precio                     { float: left; width: 100%; height: auto; color: #a1a19f; font-family: 'ProximaNovaBold'; font-size: 20px; margin-bottom: 20px; }
#premium .paloma            { float: left; width: 30%; height: auto; text-align: center; margin-top: 20px;}
#premium .paloma img        { width: auto; height: 20px;}
#premium .descripcion       { float: left; width: 100%; height: auto; color: #a1a19f; margin-bottom: 20px; }
