// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em)
{
	header a		{ margin-top: 20px; }
	.noticiasRow .columns	{ margin: 0; padding: 0;}
	.noticia                { float: left; width: 100%; height: auto; margin-top: 10px; border-bottom: 1px solid #d8d8d8;}
	.noticiaFoto            { width: 80px; height: 80px; float: left; margin: 0px 10px;}
	.noticiaPreview         { width: calc(100% - 100px); padding: 10px; padding-bottom: 0; height: 80px;}
	.noticiaFecha           { width: 100px; text-align: right;}
	.noticiaVerMas          { width: calc(100% - 100px); text-align: right;}
	.noticiaDetalle .foto   { width: 100%;}
	.noticiaDetalle
		.foto img	{ width: 100%; height: auto;}
	.share                  { width: 100%;}
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */