/******************************************************************
 * GENERAL
 ******************************************************************/
body                    { margin-top: 20px; height: calc(100% - 20px) !important;}
.panel                  { padding: 0; margin: 0; background: #fff !important;}
.max-row                { width: 100%; max-width: 100%; padding: 0; margin: 0;}
.no-margin              { padding: 0 !important; margin: 0 !important;}
.right                  { text-align: right;}
.center                 { text-align: center;}
#splashscreen           { background: #fff !important; font-size: 17px !important; position: relative;}
.splashAlign            { width: 400px; height: 200px; position: absolute; top: 50%; margin-top: -140px; left: 50%; margin-left: -200px; text-align: center;}
.splashLogo             { width: 300px !important; height: auto !important;}
.pages                  { background: #fff !important; font-family: 'NexaLight';}
header .backButton      { display: none !important;}
footer                  { background: #3EA8A9 !important; color: #fff !important; font-family: 'NexaLight' !important; }
footer a                { color: #fff !important; line-height: 49px; border-right: 1px solid #A8D066; }
footer a:last-child     { border: none;}
header                  { background: #3ea8a9 !important;}
header h1               { display: none !important; }
.hdTit                  { color: #fff !important; font-family: 'NexaLight' !important; line-height: 48px !important; height: 40px; position: absolute; top: 0; width: 76%; text-align: center; left: 50%; margin-left: -38%; text-transform: uppercase; font-size: 15px;}
.hdFlecha               { position: absolute; top: 8px; left: 5%; width: 20px; height: 16px; text-align: center;}
.hdIcono                { position: absolute; top: 8px; right: 5%; width: 20px; height: 16px; text-align: center;}



.full-width
{
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}






/******************************************************************
 * HOME
 ******************************************************************/
#home                   {  }
.homeTit                { font-size: 20px;}
.homeLogos              { margin-top: 20px;}
.btnHome                { border: none; width: 100%; height: 50px; margin-top: 2px; line-height: 50px; color: #fff; text-transform: uppercase;}
.btnHome.btn1           { background: #3EA8A9;}
.btnHome.btn2           { background: #54BBAC;}
.btnHome.btn3           { background: #65C39F;}
.btnHome.btn4           { background: #7CC78A;}
.btnHome.btn5           { background: #90CB78;}
.btnHome.btn6           { background: #A8D066;}

/******************************************************************
 * CATEGORIAS
 ******************************************************************/
#categorias             { height: 100%;}
#categorias .row        { width: 100%; max-width: 100%; padding: 0 !important; margin: 0 !important;}
.categoriasRow          { height: auto;}
.catDescRow             { height: auto;}
.categoriaDesc          { background: #e7e5e5; width: 100%; height: auto; overflow-y: hidden; overflow-x: hidden; padding: 20px; }
.catTit                 { height: 25px; background: #a4a4a4; text-align: center; color: #fff; text-transform: uppercase; line-height: 29px;}
.catBtns                { padding: 0; margin: 0; position: relative;}
.catBtn                 { height: 25px; width: 100%; position: relative; line-height: 29px; text-transform: uppercase; float: left;}
.catBtn .flecha         { float: left; width: 10px; height: 10px; background: url(../images/categorias/flecha.png) no-repeat; margin: 7px 10px 0 10px;: }
.catBtn .flecha.selected{ background-position: 0 -10px;}
.catBtn:nth-child(odd)  { background: #e7e5e5; }
.catBtn:nth-child(even) { background: #d9d9d9; }
.catAbierto             { float: left; width: 100%; height: auto; min-height: 200px; margin-top: 0; background: #FFF;}
.catLogo                { float: left; width: 80%; height: 60px; margin-left: 10%; border-bottom: 1px solid #3ea8a9; margin-bottom: 10px; }
.catLogo img            { width: auto; height: 40px; margin-top: 10px; }
.catDesc                { float: left; width: 80%; height: auto; min-height: 200px; margin-left: 10%; margin-bottom: 10px; }
.catDesc a              { color: #000; text-decoration: none;}